*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    justify-content: center;
}
#navbar{
    position: absolute;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
}
#navbar::before{
 content: "";
 background-color: black;
 position: absolute;
 top: 0;
 height:100%;
 width: 100%;
 z-index: -1;
 opacity: 0.4;
}
#navbar ul{
display: flex;
justify-content: center;
align-items: center;
}
#navbar ul li{
    list-style: none;
    font-size: 1.5rem;
}
#navbar ul li a{
    padding: 5px 93px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}